@font-face {
    font-family: batman_forever; 
	src: url('../font/batmfa__.ttf'); }

nav{
    display: flex;
    flex-direction: row nowrap;
    width: auto;
    height: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;

    z-index: 10;
   
}

nav a:first-of-type{
    margin-right: 100px;
    background-color: transparent;
    
}
nav a{
    width: 160px;
}

nav, nav a{
    background-color: #231f20;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding: 25px;
    font-family: batman_forever, sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
nav a img{
    width: 150%; 
    height: auto;
}
nav a:hover, footer a:hover{
    transition: 0.5s;
    color: #cb7236;
}
nav button{
    display: none;
}


@media only screen and (max-width: 760px) {
    nav{
        flex-direction: column;
        width: auto;

        height: 50px;
        
    }
    nav, nav a, footer, footer a{
    text-decoration: none;
    align-items: center;
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}
    nav a{
        width: 100%;
        display: none;
    }
    nav a img{
    margin-bottom: 0;
    padding: 0;
    width: 35%; 
    height: auto;
    
}
    nav a:first-of-type{
        margin-right: 0;
        display: inherit;
    }
    nav button{
        background-color: #231f20;
        color: #fff;
        display: inherit;
        position: absolute;
        right: 10px;
        width: auto;
        font-weight: bold;
        padding: -10px; 
        font-size: 32px;
        text-align: center;
        border: none;
    }
  
}